-- CreateEnum
CREATE TYPE "Role" AS ENUM ('HMS_SUPER_ADMIN', 'CITY_ADMIN', 'COMMISSIONER', 'ACTION_OFFICER', 'EMPLOYEE', 'QC');

-- CreateEnum
CREATE TYPE "GeoLevel" AS ENUM ('CITY', 'ZONE', 'WARD', 'KOTHI', 'SUB_KOTHI', 'GALI', 'AREA', 'BEAT');

-- CreateEnum
CREATE TYPE "AreaType" AS ENUM ('RESIDENTIAL', 'COMMERCIAL', 'SLUM');

-- CreateEnum
CREATE TYPE "ModuleRecordStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'APPROVED');

-- CreateEnum
CREATE TYPE "BinCondition" AS ENUM ('GOOD', 'DAMAGED');

-- CreateEnum
CREATE TYPE "TwinbinBinStatus" AS ENUM ('PENDING_QC', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "RegistrationStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "IECStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'APPROVED', 'REJECTED');

-- CreateTable
CREATE TABLE "HMS" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "HMS_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "City" (
    "id" TEXT NOT NULL,
    "hmsId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "ulbCode" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "City_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Module" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Module_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CityModule" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CityModule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserCity" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "zoneIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "wardIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserCity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserModuleRole" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "canWrite" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserModuleRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Permission" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT,
    "role" "Role" NOT NULL,
    "resource" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GeoNode" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "parentId" TEXT,
    "level" "GeoLevel" NOT NULL,
    "name" TEXT NOT NULL,
    "areaType" "AreaType",
    "path" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GeoNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskforceCase" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "geoNodeId" TEXT,
    "title" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "assignedTo" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TaskforceCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskforceActivity" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "caseId" TEXT NOT NULL,
    "actorId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TaskforceActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IECForm" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" "IECStatus" NOT NULL DEFAULT 'DRAFT',
    "submittedBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IECForm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SweepingResidentialRecord" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL,
    "status" "ModuleRecordStatus" NOT NULL DEFAULT 'DRAFT',
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SweepingResidentialRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SweepingCommercialRecord" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL,
    "status" "ModuleRecordStatus" NOT NULL DEFAULT 'DRAFT',
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SweepingCommercialRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TwinbinRecord" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL,
    "status" "ModuleRecordStatus" NOT NULL DEFAULT 'DRAFT',
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TwinbinRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TwinbinLitterBin" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "requestedById" TEXT NOT NULL,
    "zoneId" TEXT,
    "wardId" TEXT,
    "areaName" TEXT NOT NULL,
    "areaType" "AreaType" NOT NULL,
    "locationName" TEXT NOT NULL,
    "roadType" TEXT NOT NULL,
    "isFixedProperly" BOOLEAN NOT NULL,
    "hasLid" BOOLEAN NOT NULL,
    "condition" "BinCondition" NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "status" "TwinbinBinStatus" NOT NULL,
    "assignedEmployeeIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "approvedByQcId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TwinbinLitterBin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TaskforceRecord" (
    "id" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL,
    "status" "ModuleRecordStatus" NOT NULL DEFAULT 'DRAFT',
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TaskforceRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRegistrationRequest" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "aadhaar" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "cityId" TEXT NOT NULL,
    "zoneId" TEXT,
    "wardId" TEXT,
    "requestedModules" TEXT[],
    "status" "RegistrationStatus" NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "approvedByUserId" TEXT,
    "approvedByRole" "Role",
    "approvedAt" TIMESTAMP(3),
    "rejectedByUserId" TEXT,
    "rejectedByRole" "Role",
    "rejectedAt" TIMESTAMP(3),
    "rejectReason" TEXT,

    CONSTRAINT "UserRegistrationRequest_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "HMS_name_key" ON "HMS"("name");

-- CreateIndex
CREATE UNIQUE INDEX "City_code_key" ON "City"("code");

-- CreateIndex
CREATE UNIQUE INDEX "City_ulbCode_key" ON "City"("ulbCode");

-- CreateIndex
CREATE INDEX "City_hmsId_idx" ON "City"("hmsId");

-- CreateIndex
CREATE UNIQUE INDEX "Module_name_key" ON "Module"("name");

-- CreateIndex
CREATE INDEX "CityModule_cityId_moduleId_idx" ON "CityModule"("cityId", "moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "CityModule_cityId_moduleId_key" ON "CityModule"("cityId", "moduleId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "UserCity_cityId_role_idx" ON "UserCity"("cityId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "UserCity_userId_cityId_role_key" ON "UserCity"("userId", "cityId", "role");

-- CreateIndex
CREATE INDEX "UserModuleRole_cityId_moduleId_role_idx" ON "UserModuleRole"("cityId", "moduleId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "UserModuleRole_userId_cityId_moduleId_role_key" ON "UserModuleRole"("userId", "cityId", "moduleId", "role");

-- CreateIndex
CREATE INDEX "Permission_cityId_moduleId_role_idx" ON "Permission"("cityId", "moduleId", "role");

-- CreateIndex
CREATE INDEX "Permission_cityId_resource_action_idx" ON "Permission"("cityId", "resource", "action");

-- CreateIndex
CREATE INDEX "GeoNode_cityId_level_idx" ON "GeoNode"("cityId", "level");

-- CreateIndex
CREATE INDEX "GeoNode_cityId_path_idx" ON "GeoNode"("cityId", "path");

-- CreateIndex
CREATE INDEX "TaskforceCase_cityId_status_idx" ON "TaskforceCase"("cityId", "status");

-- CreateIndex
CREATE INDEX "TaskforceCase_cityId_geoNodeId_idx" ON "TaskforceCase"("cityId", "geoNodeId");

-- CreateIndex
CREATE INDEX "TaskforceActivity_cityId_caseId_idx" ON "TaskforceActivity"("cityId", "caseId");

-- CreateIndex
CREATE INDEX "IECForm_cityId_status_idx" ON "IECForm"("cityId", "status");

-- CreateIndex
CREATE INDEX "IECForm_cityId_moduleId_idx" ON "IECForm"("cityId", "moduleId");

-- CreateIndex
CREATE INDEX "SweepingResidentialRecord_cityId_idx" ON "SweepingResidentialRecord"("cityId");

-- CreateIndex
CREATE INDEX "SweepingCommercialRecord_cityId_idx" ON "SweepingCommercialRecord"("cityId");

-- CreateIndex
CREATE INDEX "TwinbinRecord_cityId_idx" ON "TwinbinRecord"("cityId");

-- CreateIndex
CREATE INDEX "TwinbinLitterBin_cityId_idx" ON "TwinbinLitterBin"("cityId");

-- CreateIndex
CREATE INDEX "TaskforceRecord_cityId_idx" ON "TaskforceRecord"("cityId");

-- CreateIndex
CREATE INDEX "UserRegistrationRequest_cityId_idx" ON "UserRegistrationRequest"("cityId");

-- CreateIndex
CREATE UNIQUE INDEX "UserRegistrationRequest_email_cityId_key" ON "UserRegistrationRequest"("email", "cityId");

-- AddForeignKey
ALTER TABLE "City" ADD CONSTRAINT "City_hmsId_fkey" FOREIGN KEY ("hmsId") REFERENCES "HMS"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CityModule" ADD CONSTRAINT "CityModule_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CityModule" ADD CONSTRAINT "CityModule_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserCity" ADD CONSTRAINT "UserCity_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserCity" ADD CONSTRAINT "UserCity_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserModuleRole" ADD CONSTRAINT "UserModuleRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserModuleRole" ADD CONSTRAINT "UserModuleRole_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserModuleRole" ADD CONSTRAINT "UserModuleRole_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Permission" ADD CONSTRAINT "Permission_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Permission" ADD CONSTRAINT "Permission_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GeoNode" ADD CONSTRAINT "GeoNode_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GeoNode" ADD CONSTRAINT "GeoNode_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "GeoNode"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceCase" ADD CONSTRAINT "TaskforceCase_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceCase" ADD CONSTRAINT "TaskforceCase_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceCase" ADD CONSTRAINT "TaskforceCase_geoNodeId_fkey" FOREIGN KEY ("geoNodeId") REFERENCES "GeoNode"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceActivity" ADD CONSTRAINT "TaskforceActivity_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceActivity" ADD CONSTRAINT "TaskforceActivity_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceActivity" ADD CONSTRAINT "TaskforceActivity_caseId_fkey" FOREIGN KEY ("caseId") REFERENCES "TaskforceCase"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IECForm" ADD CONSTRAINT "IECForm_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IECForm" ADD CONSTRAINT "IECForm_moduleId_fkey" FOREIGN KEY ("moduleId") REFERENCES "Module"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SweepingResidentialRecord" ADD CONSTRAINT "SweepingResidentialRecord_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SweepingResidentialRecord" ADD CONSTRAINT "SweepingResidentialRecord_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SweepingCommercialRecord" ADD CONSTRAINT "SweepingCommercialRecord_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SweepingCommercialRecord" ADD CONSTRAINT "SweepingCommercialRecord_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TwinbinRecord" ADD CONSTRAINT "TwinbinRecord_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TwinbinRecord" ADD CONSTRAINT "TwinbinRecord_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TwinbinLitterBin" ADD CONSTRAINT "TwinbinLitterBin_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TwinbinLitterBin" ADD CONSTRAINT "TwinbinLitterBin_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TwinbinLitterBin" ADD CONSTRAINT "TwinbinLitterBin_approvedByQcId_fkey" FOREIGN KEY ("approvedByQcId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceRecord" ADD CONSTRAINT "TaskforceRecord_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TaskforceRecord" ADD CONSTRAINT "TaskforceRecord_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRegistrationRequest" ADD CONSTRAINT "UserRegistrationRequest_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES "City"("id") ON DELETE CASCADE ON UPDATE CASCADE;

